@import "../../../node_modules/blaze/scss/mixins/_settings.global";
@import "../../../node_modules/blaze/scss/mixins/_tools.mediaqueries";

home-page {
  .c-site-header {
    font-size: 4em;
    font-weight: bold;
    padding: 0.5em 0 0 0;

    &__highlight {
      color: $color-red;
    }
  }

  @include screen--small-and-up {
    .c-site-header {
      font-size: 6em;
    }
  }

  #carbonads {
    margin: auto;
  }

  .c-homepage-section--secondary {
    background-color: $color-blue;
    color: $color-white;
  }

  .c-homepage-section--inverted {
    background-color: $color-black;
    color: $color-white;
  }
}