site-header {
  .o-page-header {
    position: relative;
    border-bottom: 1px solid #eee;
  }

  .o-page-logo {
    width: 4em;
  }

  .o-page-header__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}