site-nav {
  .c-overlay, .o-drawer {
    position: fixed;
    z-index: 1000;
  }

  .c-overlay {
    transition: visibility 0s .3s, opacity .3s;
  }

  .c-overlay--visible {
    transition: opacity .3s;
  }

  .o-drawer {
    transition: transform .3s;
  }
}