@import "../../../node_modules/blaze/scss/blaze";
@import "../../../node_modules/blaze/scss/blaze.colors";

body {
  overflow-x: hidden;
}

@media (min-width: 42em) {
  body {
    font-size: 18px;
  }
}

.c-text {
  font-family: "Source Sans Pro", -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #2c3e50;
}
main {
  padding-bottom: 5em;
}

site-search stencil-route-link a ,
site-nav stencil-route-link a {
  cursor: pointer;
  display: inline-block;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin: 0;
  border-radius: 4px;
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-text-decoration;
}

site-nav stencil-route-link .link-active {
  background-color: $color-info;
  color: $color-white;
}

/*
 * Colors demo
 */
.colors-demo {
  .c-badge {
    margin: 0.5em;
    text-align: center;
  }
}

/*
 * Demo containers
 */
.fixed-height-demo {
  position: relative;
  height: 400px;
  overflow: hidden;
  border: 1px solid #eee;
}

.modal-demo {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-image: url(https://unsplash.it/1024/963?random);
  background-size: cover;
}

/*
 * Grid outlines
 */
.o-grid--demo.o-grid {
  border: 2px solid #ff69b4;
}

.o-grid-key {
  font-weight: bold;
}

.o-grid-key--grid {
  color: #ff69b4;
}

.o-grid-key--grid-cell {
  color: #00bfff;
}

.o-grid-key--padding {
  color: #66bb6a;
}

.o-grid--demo .o-grid__cell {
  border: 2px solid #00bfff;
  background-color: #b2f5b5;
}

.o-grid-text {
  background-color: #fff;
}

