@import "../../../../node_modules/blaze/scss/mixins/settings.global";

.c-search__container {
  display: none;
  position: absolute;
  top: 0;
  background-color: $color-white;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity .3s;
}

.c-search--open {
  .c-search__container {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity .3s;
  }
}

.c-search__close {
  width: 6em;
}

.c-search__results {
  position: absolute;
  top: 4em;
  width: 100%;
  text-align: left;
}